.htaccess
.DS_Store
nbproject
node_modules
.sass-cache
*.zip
*.sql
*.log
/*.json
*.pot
assets/dev/css/bwfabt-admin.min.css
assets/dev/css/bwfabt-font.min.css
assets/dev/js/bwfabt-admin-es5.js
assets/dev/js/bwfabt-ajax-es5.js
assets/live/js/bwfabt-admin.min.js
assets/live/js/bwfabt-ajax.js
assets/live/css/bwfabt-admin.min.css
assets/live/css/bwfabt-font.min.css